<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>National Footbal League Fans Association</h1>

  <p>
    This is the home page for the NFL Fans Association. The goal of this site is to organize fans of the 32 NFL teams into 
one cohesive group, The purpose  of this organization is to represent the fans in their complaints to the NFL Owners. We
are after all the reason that there is a NFL. Without us there would be no owners or players. We wield a big power. If it 
is used right we can make our grievances heard.  
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>

